.contactSection {
  background-color: #EFEFF0; }
  .contactSection .contact {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    height: 550px; }
    .contactSection .contact .logo {
      width: 100%;
      height: 150px;
      font-size: 150%; }
      .contactSection .contact .logo span {
        font-size: 80%;
        font-weight: bold; }
      .contactSection .contact .logo h2 {
        position: relative; }
        .contactSection .contact .logo h2:after {
          content: '';
          display: block;
          position: absolute;
          height: 5px;
          width: 160px;
          background-color: #2E3EFF;
          top: 44px; }
      .contactSection .contact .logo div {
        width: 100%;
        display: flex;
        flex-direction: row; }
        .contactSection .contact .logo div span:nth-of-type(1) {
          width: 45%; }
        .contactSection .contact .logo div span:nth-of-type(2) {
          text-align: center;
          width: 55%;
          position: relative; }
          .contactSection .contact .logo div span:nth-of-type(2) i {
            position: absolute;
            top: 3px;
            font-size: 140%;
            padding-left: 10px;
            color: #2E3EFF; }
    .contactSection .contact .contactDetails {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: 400px; }
      .contactSection .contact .contactDetails .containerForm {
        width: 42%;
        height: 100%; }
        .contactSection .contact .contactDetails .containerForm form {
          width: 100%;
          display: flex;
          flex-direction: column;
          justify-content: space-between; }
          .contactSection .contact .contactDetails .containerForm form label {
            width: 100%;
            display: flex;
            flex-direction: column; }
            .contactSection .contact .contactDetails .containerForm form label input {
              width: 100%;
              height: 26px;
              padding-left: 10px;
              margin: 0 0 15px 0;
              outline: none;
              border: 1px solid #ddd; }
            .contactSection .contact .contactDetails .containerForm form label textarea {
              padding-left: 10px;
              width: 100%;
              height: 164px;
              outline: none;
              resize: none;
              border: 1px solid #ddd; }
          .contactSection .contact .contactDetails .containerForm form label:nth-of-type(3) input {
            width: 40%;
            margin-left: calc(100% - 70%);
            margin-top: 15px;
            border-radius: 10px;
            outline: none;
            background-color: #2E3EFF;
            border: none;
            color: #fff;
            letter-spacing: 1px; }
      .contactSection .contact .contactDetails .location {
        width: 48%;
        height: 350px; }
        .contactSection .contact .contactDetails .location .map1 {
          width: 100%;
          height: 100%;
          background-image: url("../imgMap/map1.jpg");
          background-position: center;
          background-size: cover;
          border: 2px solid #2E3EFF;
          position: relative; }
          .contactSection .contact .contactDetails .location .map1 .minus {
            position: absolute;
            left: calc(100% - 8%);
            top: 46px;
            width: 30px;
            height: 30px;
            background-color: rgba(217, 217, 217, 0.4);
            line-height: 30px;
            text-align: center;
            cursor: pointer; }
            .contactSection .contact .contactDetails .location .map1 .minus:hover {
              background-color: rgba(191, 191, 191, 0.4);
              color: #2E3EFF; }
          .contactSection .contact .contactDetails .location .map1 .plus {
            position: absolute;
            left: calc(100% - 8%);
            top: 10px;
            width: 30px;
            height: 30px;
            background-color: rgba(217, 217, 217, 0.4);
            line-height: 30px;
            text-align: center;
            cursor: pointer; }
            .contactSection .contact .contactDetails .location .map1 .plus:hover {
              background-color: rgba(191, 191, 191, 0.4);
              color: #2E3EFF; }
        .contactSection .contact .contactDetails .location .map2 {
          width: 100%;
          height: 100%;
          background-image: url("../imgMap/map2.jpg");
          background-position: center;
          background-size: cover;
          border: 2px solid #2E3EFF;
          position: relative; }
          .contactSection .contact .contactDetails .location .map2 .minus {
            position: absolute;
            left: calc(100% - 8%);
            top: 46px;
            width: 30px;
            height: 30px;
            background-color: rgba(217, 217, 217, 0.4);
            line-height: 30px;
            text-align: center;
            cursor: pointer; }
            .contactSection .contact .contactDetails .location .map2 .minus:hover {
              background-color: rgba(191, 191, 191, 0.4);
              color: #2E3EFF; }
          .contactSection .contact .contactDetails .location .map2 .plus {
            position: absolute;
            left: calc(100% - 8%);
            top: 10px;
            width: 30px;
            height: 30px;
            background-color: rgba(217, 217, 217, 0.4);
            line-height: 30px;
            text-align: center;
            cursor: pointer; }
            .contactSection .contact .contactDetails .location .map2 .plus:hover {
              background-color: rgba(191, 191, 191, 0.4);
              color: #2E3EFF; }
        .contactSection .contact .contactDetails .location .map3 {
          width: 100%;
          height: 100%;
          background-image: url("../imgMap/map3.png");
          background-position: center;
          background-size: cover;
          border: 2px solid #2E3EFF;
          position: relative; }
          .contactSection .contact .contactDetails .location .map3 .minus {
            position: absolute;
            left: calc(100% - 8%);
            top: 46px;
            width: 30px;
            height: 30px;
            background-color: rgba(217, 217, 217, 0.4);
            line-height: 30px;
            text-align: center;
            cursor: pointer; }
            .contactSection .contact .contactDetails .location .map3 .minus:hover {
              background-color: rgba(191, 191, 191, 0.4);
              color: #2E3EFF; }
          .contactSection .contact .contactDetails .location .map3 .plus {
            position: absolute;
            left: calc(100% - 8%);
            top: 10px;
            width: 30px;
            height: 30px;
            background-color: rgba(217, 217, 217, 0.4);
            line-height: 30px;
            text-align: center;
            cursor: pointer; }
            .contactSection .contact .contactDetails .location .map3 .plus:hover {
              background-color: rgba(191, 191, 191, 0.4);
              color: #2E3EFF; }
