.navContainer {
  background-color: #111;
  width: 100%;
  height: 70px;
  display: flex;
  color: #ededed; }
  .navContainer .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .navContainer .container .logo {
      width: 35%;
      font-size: 120%; }
      .navContainer .container .logo a {
        text-decoration: none;
        color: #ededed; }
      .navContainer .container .logo span {
        color: #2E3EFF; }
    .navContainer .container .navigation {
      width: 45%;
      text-align: right; }
      .navContainer .container .navigation ul li {
        display: inline-block;
        margin: 0 20px;
        font-size: 120%;
        transition: 2s; }
      .navContainer .container .navigation ul li:nth-of-type(3) {
        margin-right: 0; }
