.navContainer {
  background-color: #111;
  width: 100%;
  height: 50px;
  display: flex;
  color: #ededed; }
  .navContainer .container {
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between; }
    .navContainer .container .logo {
      width: 35%;
      font-size: 100%; }
      .navContainer .container .logo a {
        text-decoration: none;
        color: #ededed; }
      .navContainer .container .logo h2 {
        color: #fff;
        transition: 1s;
        cursor: pointer; }
        .navContainer .container .logo h2 span {
          transition: 1s;
          color: #2E3EFF; }
        .navContainer .container .logo h2:hover {
          color: #2E3EFF; }
          .navContainer .container .logo h2:hover span {
            color: #fff; }
    .navContainer .container .navigation {
      width: 45%;
      height: 100%;
      text-align: right;
      position: relative; }
      .navContainer .container .navigation ul li {
        display: inline-block;
        padding: 0 30px;
        font-size: 100%;
        transition: 1s;
        cursor: pointer;
        z-index: 2; }
        .navContainer .container .navigation ul li:hover {
          color: #2E3EFF; }
        .navContainer .container .navigation ul li div {
          display: none; }
        .navContainer .container .navigation ul li .navbar {
          transition: 0s;
          display: block;
          width: 240px;
          height: 262px;
          background-color: #DCDDE5;
          position: absolute;
          top: 50px;
          left: 200px;
          z-index: 1;
          border-radius: 15px;
          box-shadow: 10px 10px 5px 0 rgba(0, 0, 0, 0.75); }
          .navContainer .container .navigation ul li .navbar:after {
            content: "";
            display: block;
            width: 10px;
            height: 28px;
            background-color: #2E3EFF;
            position: absolute;
            left: 14px;
            top: -6px;
            z-index: 3; }
          .navContainer .container .navigation ul li .navbar:before {
            content: "";
            display: block;
            width: 10px;
            height: 28px;
            background-color: #2E3EFF;
            position: absolute;
            left: 220px;
            top: -6px;
            z-index: 3; }
          .navContainer .container .navigation ul li .navbar .invisible {
            display: block;
            width: 100%;
            height: 15px;
            background-color: #EFEFF0;
            color: black; }
          .navContainer .container .navigation ul li .navbar .listOfModels {
            width: 240px;
            padding: 0; }
            .navContainer .container .navigation ul li .navbar .listOfModels li {
              display: block;
              width: 100%;
              height: 40px;
              line-height: 30px;
              text-align: center;
              padding: 0;
              transition: 0s;
              border-bottom: 1px dotted black; }
              .navContainer .container .navigation ul li .navbar .listOfModels li:nth-of-type(6) a:hover {
                border-bottom-left-radius: 15px;
                border-bottom-right-radius: 15px; }
              .navContainer .container .navigation ul li .navbar .listOfModels li a {
                height: 40px;
                text-decoration: none;
                display: flex;
                flex-direction: row;
                justify-content: space-between; }
                .navContainer .container .navigation ul li .navbar .listOfModels li a:hover {
                  border: 1px solid #2E3EFF; }
                .navContainer .container .navigation ul li .navbar .listOfModels li a .audiA4 {
                  padding: 0;
                  display: block;
                  width: 80px;
                  height: 30px;
                  margin: 0 0 0 10px;
                  background-image: url("../imgModels/a4.jpg");
                  background-size: cover;
                  background-position: center; }
                .navContainer .container .navigation ul li .navbar .listOfModels li a .audiA6 {
                  padding: 0;
                  display: block;
                  width: 80px;
                  height: 30px;
                  margin: 0 0 0 10px;
                  background-image: url("../imgModels/a6.jpg");
                  background-size: cover;
                  background-position: center; }
                .navContainer .container .navigation ul li .navbar .listOfModels li a .audiA8 {
                  padding: 0;
                  display: block;
                  width: 80px;
                  height: 30px;
                  margin: 0 0 0 10px;
                  background-image: url("../imgModels/a8.jpg");
                  background-size: cover;
                  background-position: center; }
                .navContainer .container .navigation ul li .navbar .listOfModels li a .audiQ3 {
                  padding: 0;
                  display: block;
                  width: 80px;
                  height: 30px;
                  margin: 0 0 0 10px;
                  background-image: url("../imgModels/Q3.jpg");
                  background-size: cover;
                  background-position: center; }
                .navContainer .container .navigation ul li .navbar .listOfModels li a .audiQ5 {
                  padding: 0;
                  display: block;
                  width: 80px;
                  height: 30px;
                  margin: 0 0 0 10px;
                  background-image: url("../imgModels/Q5.jpg");
                  background-size: cover;
                  background-position: center; }
                .navContainer .container .navigation ul li .navbar .listOfModels li a .audiQ7 {
                  padding: 0;
                  display: block;
                  width: 80px;
                  height: 30px;
                  margin: 0 0 0 10px;
                  background-image: url("../imgModels/Q7.jpg");
                  background-size: cover;
                  background-position: center; }
                .navContainer .container .navigation ul li .navbar .listOfModels li a .autoName {
                  color: black;
                  margin-right: 30px; }
                  .navContainer .container .navigation ul li .navbar .listOfModels li a .autoName:hover {
                    color: #fff; }
              .navContainer .container .navigation ul li .navbar .listOfModels li:nth-of-type(6) {
                border-bottom: 0; }
      .navContainer .container .navigation ul li:nth-of-type(3) {
        margin-right: 0; }
