@mixin img($url){
  width: 70%;
  height: 80%;
  background-image: url($url);
  background-size: cover;
  background-position: center;
  border: 4px solid #232323;
}


.mainContainer{
    width: 1200px;
    background-color: #CCD1D1;
    height: 700px;
    margin: 0 auto 0 auto;
    border-bottom: 3px dotted #232323;
    .name{
      font-size: 200%;
      padding-top: 2px;
      height: 100px;
      margin-left: 14.5%;
      position: relative;
      &:after{
        content: '';
        display: block;
        position: absolute;
        height: 5px;
        width: 690px;
        background-color: #232323;
        top: 84px;
      }
    }
    .slider{
      height: 550px;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .arrow{
        width: 10%;
        text-align: center;
        font-size: 600%;
        cursor: pointer;
        &:hover{
          color: #ededed;
        }
      }
      .audi1{
        @include img('../imgAudi/1.jpg')
      }
      .audi2{
        @include img('../imgAudi/2.jpg')
      }
      .audi3{
        @include img('../imgAudi/3.jpg')
      }
      .audi4{
        @include img('../imgAudi/4.jpg')
      }
      .audi5{
        @include img('../imgAudi/5.jpg')
      }
      .audi6{
        @include img('../imgAudi/6.jpg')
      }
    }
  }
