.containerOfferts {
  width: 1200px;
  margin: 0 auto;
  background-color: #D0D0D0; }
  .containerOfferts h2 {
    width: 100%;
    padding-top: 30px;
    padding-left: 40px;
    letter-spacing: 2px;
    font-size: 200%; }
  .containerOfferts .offertList ul {
    padding-left: 80px;
    padding-right: 80px;
    display: flex;
    flex-direction: row;
    justify-content: space-between; }
    .containerOfferts .offertList ul li {
      width: 20%;
      text-align: center;
      list-style: none;
      padding: 10px 0;
      font-size: 120%;
      border: 1px dotted #222;
      border-radius: 10px; }
      .containerOfferts .offertList ul li:hover {
        color: #C0C0C0;
        background-color: #222222;
        cursor: pointer; }
