.cash {
  display: flex;
  flex-direction: column;
  h3{
    margin: 40px 0 40px 20px;
  }
  .info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 20px 0;
    div {
      width: 30%;
      margin: 0 20px;
      line-height: 22px;
      letter-spacing: 0.7px;
      span {
        display: block;
        font-size: 120%;
        text-align: center;
      }
      button{
        width: 50%;
        margin: 20px 0 0 calc(100% - 75%);
        background-color: #D0D0D0;
        cursor: pointer;
        border: 1px solid black;
        border-radius: 10px;
        padding: 7px 0;
      }
    }
  }
}