.modelContainer {
  background-color: #EFEFF0; }
  .modelContainer .containerConfiguration {
    width: 1200px;
    height: 700px;
    margin: 0 auto;
    display: flex;
    flex-direction: row; }
    .modelContainer .containerConfiguration .configuration {
      width: 25%;
      border: 10px solid #DCDCDC; }
      .modelContainer .containerConfiguration .configuration .configurationSpan {
        display: block;
        height: 40px;
        line-height: 40px;
        text-align: center;
        font-weight: bold;
        letter-spacing: 1px;
        font-size: 110%;
        border-bottom: 4px dotted #DCDCDC; }
      .modelContainer .containerConfiguration .configuration .engine .engineText {
        display: block;
        height: 30px;
        line-height: 30px;
        text-align: center;
        font-size: 105%;
        letter-spacing: 1px;
        border-bottom: 3px dotted #DCDCDC; }
      .modelContainer .containerConfiguration .configuration .engine .engineList {
        padding: 0; }
        .modelContainer .containerConfiguration .configuration .engine .engineList .givenOption {
          width: 100%;
          display: flex;
          flex-direction: row;
          margin: 15px 0;
          border-bottom: 3px solid #DCDCDC; }
          .modelContainer .containerConfiguration .configuration .engine .engineList .givenOption:nth-of-type(3) {
            border-bottom: none; }
          .modelContainer .containerConfiguration .configuration .engine .engineList .givenOption .item {
            margin-right: 10px;
            width: 60%; }
          .modelContainer .containerConfiguration .configuration .engine .engineList .givenOption .price {
            width: 30%;
            margin-right: 15px;
            text-align: right;
            vertical-align: baseline;
            font-size: 100%; }
          .modelContainer .containerConfiguration .configuration .engine .engineList .givenOption .checkBox {
            width: 8px;
            height: 8px;
            border: 1px solid #1a1a1a;
            border-radius: 50%;
            margin: 3px 10px 0 10px; }
    .modelContainer .containerConfiguration .givenModel {
      width: 75%;
      background-color: blue;
      display: flex;
      flex-direction: column; }
      .modelContainer .containerConfiguration .givenModel .imgModel {
        height: 80%; }
